* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo {
    padding: 10px 10px;
}

a {
    text-decoration-line: none;
    color: aliceblue;
}

.nav-infos {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    gap: 15px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 15px;
}

.infos:hover {
    color: #665e5e;
    transition: 0.5s;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    position: relative;
}

.buscar {
    display: flex;
    border-style: none;
    background-color: #F4F4F4;
    font-size: 15px;
    border-radius: 20px;
    padding-left: 50px;
    border-radius: 20px;
    background: #F4F4F4;
    width: 235px;
    height: 50px;
}

.lupa {
    padding: 15px 15px;
    position: absolute;
    left: 1px;
}

.shop {
    width: 25px;
    height: 29px;
}

body {
    background: #1E1E1E;
    padding: auto;
    width: 100%;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 58%;
    overflow: hidden;
    padding: auto;
}

.img-banner{
    width: 100%;
}
.title{
    font-family: 'DM Sans', sans-serif;
    color: #F4F4F4;
    padding: 25px 0px;
    font-size: 35px;
}

.container-carros{
    padding: 0px 60px;
}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.container-produto{
    background-color: #303030;
    width: 450px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-car{
    width: 400px;
    height: 250px;
    border-radius: 12px;
    margin: 25px;
}

.name-car{
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0px;
    white-space: nowrap;
}

.preco-car{
    color: #F4F4F4;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.parcerlas{
    color: #F4F4F4;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.x{
    color: #FF0000;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.infos-car{
    padding: 12px 0px;
}

.div-infos {
    display: flex;
    gap: 10px;
}

.infos-produto{
    padding: 0px 25px;
}

.btn-car {
    width: 450px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: #151515;
}

.text-btn {
    align-items: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Deixando responsivo*/
.menuMobile{
    position: absolute;
    top: 34px;
    right: 90px;
}
@media (max-width:1000px){
.container-produto{
    margin-bottom: 25px;
    width: 225px;
    height: 300px;
}
.img-car{
    width: 200px;
    height: 125px;
    margin: 15px;
}
.img{
    width: 200px;
    height: 125px;
}
.name-car{
    font-size: 18px;
    padding: 0;
}
.preco-car{
    font-size: 15px;
    padding: 0;
}
.parcerlas{
    font-size: 14px;
}
.x{
    font-size: 14px;
}
.btn-car{
    width: 225px;
    height: 50px;
}
}